.container
	.jumbotron
		h1 MEAN
		p Welcome to the MEAN page! This displays what you can do with the MEAN stack!

	.row
		.col-md-6
			div(ng-include="'/partials/featured-courses'")
		.col-md-6
			div(ng-include="'/partials/new-courses'")